In [1]:
conda activate alpacaenv

Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import Libraries
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import json

%matplotlib inline

In [3]:
# Laod .env environment
load_dotenv()

True

In [4]:
# Pull in API Key
api_key = os.getenv("glassnode_api")
type(api_key)

str

In [5]:
# Define crypto currencies to pull
crypto_list = ["BTC", "BCH", "ETH", "LTC", "USDT", "DOGE"]

In [6]:
# Define URLs
price_url = 'https://api.glassnode.com/v1/metrics/market/price_usd'
volume_url = 'https://api.glassnode.com/v1/metrics/transactions/transfers_volume_sum'
mkt_cap_url = 'https://api.glassnode.com/v1/metrics/market/marketcap_usd'
mining_url = 'https://api.glassnode.com/v1/metrics/mining/volume_mined_sum'
exchange_fee_url = 'https://api.glassnode.com/v1/metrics/fees/exchanges_sum'

## BTC API Data Pull

In [9]:
# Price API Request
btc_price_res = requests.get(price_url,
                      params={'a': 'BTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert price to Pandas Dataframe, set index to time and clean up file
btc_price_df = pd.read_json(btc_price_res.text, convert_dates=['t'])
btc_price_df.columns = ['Date', 'Price']
btc_price_df.set_index('Date', inplace=True) 


# Volume API Request
btc_volume_res = requests.get(volume_url,
                      params={'a': 'BTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert volume to Pandas Dataframe, set index to time and clean up file
btc_volume_df = pd.read_json(btc_volume_res.text, convert_dates=['t'])
btc_volume_df.columns = ['Date', 'Volume']
btc_volume_df.set_index('Date', inplace=True)



# Market Cap API Request
btc_mkt_cap_res = requests.get(mkt_cap_url,
                      params={'a': 'BTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert Market Cap to Pandas Dataframe, set index to time and clean up file
btc_mkt_cap_df = pd.read_json(btc_mkt_cap_res.text, convert_dates=['t'])
btc_mkt_cap_df.columns = ['Date', 'Market Cap']
btc_mkt_cap_df.set_index('Date', inplace=True)



# Mining API Request
btc_mining_res = requests.get(mining_url,
                      params={'a': 'BTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert Mining to Pandas Dataframe, set index to time and clean up file
btc_mining_df = pd.read_json(btc_mining_res.text, convert_dates=['t'])
btc_mining_df.columns = ['Date', 'Blocks Mined']
btc_mining_df.set_index('Date', inplace=True)

In [10]:
btc_price_df

                   Price
Date
2010-07-17      0.049510
2010-07-18      0.085840
2010-07-19      0.080800
2010-07-20      0.074733
2010-07-21      0.079210
...                  ...
2021-03-05  48915.789595
2021-03-06  48905.879870
2021-03-07  51282.113699
2021-03-08  52307.860713
2021-03-09  52111.474920

[3889 rows x 1 columns]

In [11]:
btc_volume_df

                  Volume
Date
2009-01-03  0.000000e+00
2009-01-04  0.000000e+00
2009-01-05  0.000000e+00
2009-01-06  0.000000e+00
2009-01-07  0.000000e+00
...                  ...
2021-03-04  1.517715e+06
2021-03-05  1.778679e+06
2021-03-06  1.531900e+06
2021-03-07  2.130187e+06
2021-03-08  1.959105e+06

[4448 rows x 1 columns]

In [12]:
btc_mkt_cap_df

              Market Cap
Date
2010-07-17  1.702649e+05
2010-07-18  2.225672e+05
2010-07-19  3.138020e+05
2010-07-20  2.757412e+05
2010-07-21  2.444626e+05
...                  ...
2021-03-04  9.218222e+11
2021-03-05  8.907451e+11
2021-03-06  9.026353e+11
2021-03-07  9.363218e+11
2021-03-08  9.472894e+11

[3888 rows x 1 columns]

In [13]:
btc_mining_df

            Blocks Mined
Date
2009-01-03          50.0
2009-01-04           0.0
2009-01-05           0.0
2009-01-06           0.0
2009-01-07           0.0
...                  ...
2020-03-04        2087.5
2020-03-05        2037.5
2020-03-06        1937.5
2020-03-07        1962.5
2020-03-08        1975.0

[4083 rows x 1 columns]

## BTC Data Aggregating & Cleaning

In [8]:
# Define all the different data frames into a list
btc_frames = [btc_price_df, btc_volume_df, btc_mkt_cap_df, btc_mining_df]

# Concatenate all the dataframes into one
btc_data = pd.concat(btc_frames, axis=1, join="outer", ignore_index=False)
btc_data

                   Price        Volume    Market Cap  Blocks Mined
Date
2009-01-03           NaN  0.000000e+00           NaN          50.0
2009-01-04           NaN  0.000000e+00           NaN           0.0
2009-01-05           NaN  0.000000e+00           NaN           0.0
2009-01-06           NaN  0.000000e+00           NaN           0.0
2009-01-07           NaN  0.000000e+00           NaN           0.0
...                  ...           ...           ...           ...
2021-03-05  48915.789595  1.778679e+06  8.907451e+11           NaN
2021-03-06  48905.879870  1.531900e+06  9.026353e+11           NaN
2021-03-07  51282.113699  2.130187e+06  9.363218e+11           NaN
2021-03-08  52307.860713  1.959105e+06  9.472894e+11           NaN
2021-03-09  52111.474920           NaN           NaN           NaN

[4449 rows x 4 columns]

In [ ]:
EP